body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;    
}

div {
    margin: 10px 0px 0px 0px;
}

td {
    padding: 0px 20px 0px 0px;
    vertical-align: middle;
}

.nameHeaderText {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

p {
    padding: 30px;
    color: #FFFFFF;
    font-size: 30px; 
}

p.sectionBrown {
    background-color: #311D00;
}

p.sectionRed {
    background-color: #6F263D;
}

p.sectionBlue {
    background-color: #041E42;
}

p.sectionYellow {
    background-color: #FFB81C;
}

p.sectionBlack {
    background-color: #000000;
}